body {
    font-family: 微软雅黑, helvetica, sans-serif;
    letter-spacing: 1px;
    border-color: rgb(3, 224, 243, 0.6);
    background: rgb(3, 224, 243, 0.6);
    padding: 3px 10px;
}

h2 {
  color: #FF2E31;
{

